@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

.custom_scroll_bar {
  overflow-x: auto;
  overflow-y: hidden;
}

.custom_scroll_bar::-webkit-scrollbar {
  height: 0.5rem;
  margin-bottom: 3rem;
}

.custom_scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  @apply bg-neutral-300;
}

.custom_scroll_bar::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  @apply bg-transparent;
}
